<a id="happy-birthday1"></a>
<h2>Hero Birthday v1</h2>
<hero-birthday></hero-birthday>

<hr>
<a id="birthday-date-pipe"></a>
<h2>Birthday DatePipe</h2>
<p>The hero's birthday is {{ birthday | date }}</p>

<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>

<hr>
<a id="happy-birthday2"></a>
<h2>Hero Birthday v2</h2>
<hero-birthday2></hero-birthday2>
<hr>
<a id="birthday-pipe-chaining"></a>
<h2>Birthday Pipe Chaining</h2>
<p>
    The chained hero's birthday is
    {{ birthday | date | uppercase}}
</p>

<p>
    The chained hero's birthday is
    {{  birthday | date:'fullDate' | uppercase}}
</p>
<p>
    The chained hero's birthday is
    {{ ( birthday | date:'fullDate' ) | uppercase}}
</p>
<hr>
<a id="power-booster"></a>
<power-booster></power-booster>

<hr>
<a id="power-boost-calc"></a>
<power-boost-calculator>loading</power-boost-calculator>

<div></div>